{% if space is defined and space == 'application_space' %}
{% set base = 'UCLStudyBundle::app.html.twig' %}
{% else %}
{% set base = 'UCLStudyBundle::base.html.twig' %}
{% endif %}
{% extends base %}

{% block body %}
{% if not (space is defined and space == 'application_space') %}
    <p class="lead">{{ 'If you have a question about the study, don\'t hesitate!' | trans }}</p>
    <p>{{ 'You can also use this form for press enquiries, technical support about the website, and data protection queries for current participants. If you write about your participant data, please reuse the same email address as when you registered.' | trans }}</p>
    <hr />
    <h3>{{ 'Contact Form' | trans }}</h3>
{% endif %}
    {#<form name="form" method="post" action="" onsubmit="return validation();">#}
    {{ form_start(form) }}
    <fieldset>
      {{ form_row(form.pseudonym) }}
      {{ form_row(form.email) }}
      {{ form_row(form.message) }}
      {{ form_row(form.spamcheck) }}
      {{ form_row(form.write, {}) }}
    </fieldset>
    {{ form_end(form) }}
		
    <hr />
    <h3>{{ 'Office Contact Details' | trans }}</h3>
    
    <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ 'Name' | trans }}&nbsp;&nbsp;<span class="fa fa-user fa-fw"></span></label><!--
      --><div class="col-sm-10 form-control-static">{{ site.author }}</div>
    </div>
    {% if site.author_phone is defined %}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ 'Phone' | trans }}&nbsp;&nbsp;<span class="fa fa-phone fa-fw"></span></label><!--
      --><div class="col-sm-10 form-control-static">{{ site.author_phone }}</div>
    </div>
    {% endif %}
  
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ 'Address' | trans }}&nbsp;&nbsp;<span class="fa fa-university fa-fw"></span></label><!--
      --><div class="col-sm-10 form-control-static">
          {% if site.author_office is defined %}{{ site.author_office }}<br />{% endif %}
          {% if site.author_address_1 is defined %}{{ site.author_address_1 }}<br />{% endif %}
          {% if site.author_address_2 is defined %}{{ site.author_address_2 }}<br />{% endif %}
          {% if site.author_address_3 is defined %}{{ site.author_address_3 }}{% endif %}
      </div>
    </div>
    </div>
    
    <hr />
    <h4>{{ 'Looking for the UCL Research Ethics Committee?' | trans }}</h4>
    <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"></label><!--
      --><div class="col-sm-10 form-control-static"><a href="http://ethics.grad.ucl.ac.uk/contact.php" title="UCL REC Website" class="btn btn-default">{{ 'Visit the UCL REC Website' | trans }}</a></div>
    </div>
    </div>

{% endblock %}
