{% set using_form = "form" %}
{% set prescreening = "True" %}
{% extends 'UCLStudyBundle::base.html.twig' %}

{% block body %}
    <p class="lead">I will need a bit of information about you, to help me ensure participants from multiple backgrounds, genders and levels of proficiency are represented in the study.</p>
    <p class="bs-callout bs-callout-success"> If you are selected, you will receive an email with a complete breakdown of what will happen. You can then decide if you still want to join.</p>
    <p class="bs-callout bs-callout-danger">If you are not selected, I will let you know within 3 weeks and your details will be permanently deleted.</p>

  <hr />
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  <div class="form-row">
      {% if err_pseudonym is defined %}
        <div class="form-group has-error">{{ form_row(form.pseudonym) }}<aside class="alert alert-warning">{{ err_pseudonym }}</aside></div>
      {% else %}
        {{ form_row(form.pseudonym) }}
      {% endif %}
    <aside>It doesn't have to be your real name. I will use this name to refer to you.</aside>
  </div>
  {% if err_email is defined %}
    <div class="has-error">{{ form_row(form.email) }}<aside class="alert alert-warning">{{ err_email }}</aside></div>
  {% elseif err_email_different is defined %}
    <div class="has-error">{{ form_row(form.email) }}<aside class="alert alert-warning">{{ err_email_different }}</aside></div>
  {% else %}
  {{ form_row(form.email) }}
  {% endif %}
  {% if err_age is defined %}
    <div class="form-group has-error">{{ form_row(form.age, {'attr': {'class': 'btn alert-danger'}}) }}<aside class="alert alert-warning">{{ err_age }}</aside></div>
  {% else %}
    {{ form_row(form.age) }}
  {% endif %}
  {% if err_gender is defined %}
    <div class="form-group has-error">{{ form_row(form.gender, {'attr': {'class': 'btn alert-danger'}}) }}<aside class="alert alert-warning">{{ err_gender }}</aside></div>
  {% else %}
    {{ form_row(form.gender) }}
  {% endif %}
  <div class="form-row">
      {% if err_occupation is defined %}
        <div class="form-group has-error">{{ form_row(form.occupation) }}<aside class="alert alert-warning">{{ err_occupation }}</aside></div>
      {% else %}
        {{ form_row(form.occupation) }}
      {% endif %}
  </div>
  <div class="form-row">
    {% if err_proficiency is defined %}
      <div class="form-group has-error">{{ form_row(form.proficiency, {'attr': {'class': 'btn alert-danger'}}) }}<aside class="alert alert-warning">{{ err_proficiency }}</aside></div>
    {% else %}
      {{ form_row(form.proficiency) }}
    {% endif %}
    <aside>ยน Technical skills include setting up a firewall, configuring a personal website, writing your own software or scripts, compiling a kernel yourself.</aside>
  </div>
  
  <hr />  
 {# <p>The following information will be used to ensure your <span class="fa fa-linux"></span> system is compatible with the software used in the study. If you use a derivate of Debian or Ubuntu, please indicate which one.</p> #}
  
  <div class="form-row">
    {% if err_distro is defined or err_distroValid is defined %}
      <div class="form-group has-error">{{ form_row(form.distro, {'attr': {'class': 'btn alert-danger'}}) }}
    {% if err_distro is defined %}<aside class="alert alert-warning">{{ err_distro }}</aside>{% endif %}</div>
    {% else %}
      {{ form_row(form.distro) }}
    {% endif %}
    {% if err_distro_other is defined or err_distroValid is defined %}
      <div class="form-group has-error small">{{ form_row(form.distro_other) }}
    {% if err_distro_other is defined %}<aside class="alert alert-warning">{{ err_distro }}</aside>{% endif %}</div>
    {% else %}
      <div class=" small">{{ form_row(form.distro_other) }}</div>
    {% endif %}
  {% if err_distroValid is defined %}
    <aside class="alert alert-warning">{{ err_distroValid }}</aside>
  {% endif %}
  </div>

  <div class="form-row">
    {% if err_de is defined %}
      <div class="form-group has-error">{{ form_row(form.de, {'attr': {'class': 'btn alert-danger'}}) }}<aside class="alert alert-warning">{{ err_de }}</aside></div>
    {% else %}
      {{ form_row(form.de) }}
    {% endif %}
  </div>

  <div class="form-row">
    {% if err_browser is defined %}
      <div class="form-group has-error">{{ form_row(form.browser, {'attr': {'class': 'btn alert-danger'}}) }}<aside class="alert alert-warning">{{ err_browser }}</aside></div>
    {% else %}
      {{ form_row(form.browser) }}
    {% endif %}
  </div>
  <hr />  
{% include ('UCLStudyBundle::dpa.html.twig') %}

    {{ form_row(form.register, {}) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% if err_email_different is defined %}
    <script>
      $(document).ready(function(){
        var $first = document.getElementById("form_email_first");
        var $second = document.getElementById("form_email_second");
        $first.value = {{ err_email_first |json_encode|raw }};
        $second.value = {{ err_email_second |json_encode|raw }};
      });
    </script>
    {% endif %}
{% endblock %}
