{% extends 'UCLStudyBundle::app.html.twig' %}

{% block body %}
<p class="lead">Check how far you are into the study.</p>

<div id="status">
{% for p in 1..globals.part_count %}
  {% set done = user.getCurrentPart > p %} 
  {% set current = user.getCurrentPart == p %}
  {% set future = user.getCurrentPart < p %}
   
  {% if globals.part_count != 1 %}
  {% if done %}<s>{% endif %}
  <h4 {% if future %}class="disabled"{% elseif current %}id="current-page"{% endif%}>Part {{ p }} – {% if not future %}{{ site.participant_space['part_' ~ p].title }}{% else %}???{% endif %}</h4>
  {% if done %}</s>{% endif %}
  {% endif %}
  
  {% if not future %}
    {% set steps = site.participant_space['part_' ~ p].enabled_steps %}
    {#{% set steps %}{% for s in site.participant_space['part_' ~ p].enabled_steps if s != 'done' %}{{ s }}|||{% endfor %}{% endset %}
    {% set steps = steps | trim('|') | split('|||') %}#}
    {% set completed_steps_str %}{% for s in steps %}{% if (s == user.getCurrentStep) or done %}{% set seen = true %}{% endif %}{% if seen is not defined %}{{ s }},{% endif %}{% endfor %}{% endset %}
    {% set completed_steps = completed_steps_str | split(',') %}
    
    <ol class="progtrckr{% if done %} progtrckr-done{% endif %}" data-progtrckr-steps="{{ steps | length}}"><!--
    {% for s in steps %}
      {% if site.participant_space['part_' ~ p].navigation[s].progress_caption is defined %}
        {% set stepCaption = site.participant_space['part_' ~ p].navigation[s].progress_caption %}
      {% else %}
        {% set stepCaption = site.participant_space['part_' ~ p].navigation[s].caption %}
      {% endif %}
      --><li class="progtrckr-{% if done %}done disabled{% elseif s in completed_steps %}done{% elseif (s == user.getCurrentStep) and (p == user.getCurrentPart) %}current{% else %}todo{% endif %}">{{ stepCaption }}</li><!--
    {% endfor %}
    --></ol>
  {% else %}
  <hr class="progtrckr-todo" />
  {% endif %}

{% endfor %}
</div>
    
{% endblock %}
