<nav>
{# Authenticated user, which is either a participant or a participant's application #}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  {% if false %} {# Currently, the application space does not use the navigation system (clients build their own navigation and request controller) #}
    {% set menu_space = 'application_space' %}
  {% else %}
    {% set menu_space = 'participant_space' %}
  {% endif %}

{# Anonymous users get the anonymous space, with links to login, contact us, etc. #}
{% else %}
  {% set menu_space = 'anonymous_space' %}
{% endif %}

{# Get the menu items for pages we should always see -- this must exist in every space (but can contain no items) #}
{% set always_visible_menu = 'always_visible' %}

{# Get the current user step, which will determine what pages to display #}
{% if user is defined and user is not null %}
  {% set current_step = user.getCurrentStep %}
{% else %}
  {% set current_step = '' %}
{% endif %}

{# Get the current route's exact name, albeit we use a different strategy for "current" page calculation #}
{#{% set current_route_name = ''~ _route | split(site.route_prefix) | last ~'' %}#}

{# Get the pages to show in the current_part_menu and always_visible_menu, based on the current route #}
{% if site[menu_space][always_visible_menu].navigation[current_step].visible_steps is defined %}
  {% set always_visible_steps_for_route = site[menu_space][always_visible_menu].navigation[current_step].visible_steps %}
{% else %}
  {% set always_visible_steps_for_route = site[menu_space][always_visible_menu].default_visible %}
{% endif %}





{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{% for part in user.getCurrentPart..1 %}

  {# Get the menu for the current part, since authenticated spaces have parts #}
  {# We should normally use _part instead of user.getCurrentPart but we currently don't support showing multiple parts #}
  {% set current_part_menu = 'part_#' | replace('#', part) %}
  {% set current_part_steps = site[menu_space][current_part_menu].enabled_steps %}
  {% set completed_steps_str %}{% for step in current_part_steps %}{% if step == user.getCurrentStep or part < user.getCurrentPart %}{% set seen_current = true %}{% endif %}{% if seen_current is not defined %}{{ step }},{% endif %}{% endfor %}{% endset %}
  {% set completed_steps = completed_steps_str | split(',') %}

  {# Get the part-relevant menu items, for authenticated users only #}
  {% if current_part_menu is defined %}
    {% if site[menu_space][current_part_menu].navigation[current_step].visible_steps is defined and part == user.getCurrentPart %}
      {% set current_part_steps_for_route = site[menu_space][current_part_menu].navigation[current_step].visible_steps %}
    {% elseif part < user.getCurrentPart %}
      {% if site[menu_space][current_part_menu].navigation['done'].visible_steps is defined %}
        {% set current_part_steps_for_route = site[menu_space][current_part_menu].navigation['done'].visible_steps %}
      {% else %}
        {% set current_part_steps_for_route = site[menu_space][current_part_menu].default_visible %}
      {% endif %}
    {% else %}
      {% set current_part_steps_for_route = site[menu_space][current_part_menu].default_visible %}
    {% endif %}

    {% if current_part_steps_for_route is not empty %}
      <div class="menu">
        {% if site[menu_space][current_part_menu].name is defined %}
        <h1>{{ site[menu_space][current_part_menu].name }}</h1>
        {% endif %}
        <ul>

          {% for page_name in current_part_steps_for_route %}
            {% if part == user.getCurrentPart or page_name != 'done' %}
              {% set item = site[menu_space][current_part_menu].navigation[page_name] %}
              {% set before_current_user_step = (page_name in current_part_steps and page_name in completed_steps) or (part < user.getCurrentPart) %}
              {% set current_item = (_route | split(item.href) | first == '') and part == _part %}
              {% set user_current_step = (page_name == user.getCurrentStep) and (current_part_menu == 'part_#' | replace('#', user.getCurrentPart)) %}
              {% if item.href is defined and item.caption is defined %} {# undefined for when we just want the visible pages for the current route #}
              <li {% if current_item %} id="current-page"{% endif %}{% if user_current_step %} class="user-current-step"{% endif %}>{% if before_current_user_step and not current_item %}<s>{% endif %}
                <{% if current_item %}span{% else %}a href="{% if item.href_params is defined %}{{ url(item.href, item.href_params) }}{% else %}{{ url(item.href) }}{% endif %}"{% endif %}{% if item.tooltip %} title="{{ item.tooltip }}"{% endif %}>{{ item.caption }}</{% if current_item %}span{% else %}a{% endif %}>
                {#{% if item.tooltip is defined %}<span class="navtooltip">{{ item.tooltip }}</span>{% endif %}#}
              {% if before_current_user_step and current_item %}<div class="menu-icon disabled"><i class="fa fa-check fa-fw"></i></div>
              {% elseif before_current_user_step %}</s><div class="menu-icon disabled"><i class="fa fa-check fa-fw"></i></div>
              {% endif %}
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}

        
        </ul>
      </div>
    {% endif %}
  {% endif %}

{% endfor %}
{% endif %}


{% if always_visible_steps_for_route is not empty %}
  <div class="menu">
    {% if site[menu_space][always_visible_menu].name is defined %}
    <h1>{{ site[menu_space][always_visible_menu].name }}</h1>
    {% endif %}
    <ul>

    {% for page_name in always_visible_steps_for_route %}
      {% if globals.recruitment_open == true or page_name != 'register' %}
      {% set item = site[menu_space][always_visible_menu].navigation[page_name] %}
      {% set current_item = (_route | split(item.href) | first == '') %}
        {% if item.href is defined and item.caption is defined  %} {# undefined for when we just want the visible pages for the current route #}
        <li {% if current_item %} id="current-page"{% endif %}>
          <{% if current_item %}span{% else %}a href="{% if item.href_params is defined %}{{ url(item.href, item.href_params) }}{% else %}{{ url(item.href) }}{% endif %}"{% endif %}{% if item.tooltip %} title="{{ item.tooltip }}"{% endif %}>{{ item.caption }}</{% if current_item %}span{% else %}a{% endif %}>
          {#{% if item.tooltip is defined %}<span class="navtooltip">{{ item.tooltip }}</span>{% endif %}#}
          {% if current_item %}<div class="menu-icon"></div>{% endif %}
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    
    </ul>
  </div>
{% endif %}
</nav>
