{% extends 'UCLStudyBundle::base.html.twig' %}


{% set partsLeft =  _part < globals.part_count %}
{% set userBeyond = user.getCurrentPart > _part %}
{% set current_part_menu = 'part_#' | replace('#', _part) %}

{% block body %}
{% if partsLeft and (not userBeyond) %}
<p>You have finished this part of the study, you may now move on to the next part if you want to.</p>
{% if site['participant_space'][current_part_menu].name is defined %}
<p>The next part of this study is: {{ site['participant_space'][current_part_menu].name }}</po>
{% endif %}
  {{ form_start(form) }}
      <fieldset>
    {{ form_row(form.button, {'attr': {'class': 'btn-lg'}})}}
      </fieldset>
  {{ form_end(form) }}
{% elseif not partsLeft %}
  {% set kudos_message %} Congratulations, you completed the entire study! Thanks again for giving us your time.{% endset %}
  {% include ('UCLStudyBundle::kudos.html.twig') %}
{% else %}{# userBeyond is true #}
  {% set kudos_message %} Congratulations, Part {{ _part }} is over. Please use the menu on the left to navigate to Part {{ _part + 1 }}.{% endset %}
  {% include ('UCLStudyBundle::kudos.html.twig') %}  
{% endif %}

{% endblock %}

