{% set layout = "article" %}
{% if space is defined and space == 'application_space' %}
{% set base = 'UCLStudyBundle::app.html.twig' %}
{% else %}
{% set base = 'UCLStudyBundle::base.html.twig' %}
{% endif %}
{% extends base %}

{% block article_details %}
    <p class="bs-callout-compact bs-callout-success">{{ 'This study has been approved by the UCL Research Ethics Committee.' | trans }} <span class="nowrap">{{ 'Project ID Number: %nb%.' | trans({'%nb%':globals.REC_number}) }}</span></p>
    <div class="form-horizontal">
    <div class="row">
      <label class="col-sm-2 control-label">{{ 'Title of Project' | trans }}</label><!--
      --><div class="col-sm-10 form-control-static">{{ site.title | trans }} – {{ site.participant_space['part_' ~ _part].title | trans }}</div>
    </div>
    <div class="row">
      <label class="col-sm-2 control-label">{{ 'Main Researcher' | trans }}</label><!--
      --><div class="col-sm-10 form-control-static">{{ site.author | split(',') | first }}</div>
    </div>
    <div class="row">
      <label class="col-sm-2 control-label">{{ 'Research Institution' | trans }}</label><!--
      --><div class="col-sm-10 form-control-static">{{ 'University College London Department of Computer Science' | trans }}</div>
    </div>
    <div class="row">
      <label class="col-sm-2 control-label">{{ 'Office Address' | trans }}</label><!--
      --><div class="col-sm-10 form-control-static">
          {% if site.author_office is defined %}{{ site.author_office }}<br />{% endif %}
          {% if site.author_address_1 is defined %}{{ site.author_address_1 }}<br />{% endif %}
          {% if site.author_address_2 is defined %}{{ site.author_address_2 }}<br />{% endif %}
          {% if site.author_address_3 is defined %}{{ site.author_address_3 }}{% endif %}
      </div>
    </div>
    </div>
{% endblock %}

{% block article_body %}
Content goes here.
{% endblock %}

{% block article_appendix %}
<hr />
<div>
{% block infosheet_footnotes %}
{% include ('UCLStudyBundle::dpa.html.twig') %}
{% endblock %}
</div>
{% block infosheet_actions %}
  <a href="{% if space is defined and space == 'application_space' %}{{ url('ucl_study_app_contact') }}{% else %}{{ url('ucl_study_contact') }}{% endif %}" title="{{ 'Contact the researchers behind this project' | trans }}" class="btn btn-lg btn-default">{{ 'Contact the Researchers' | trans }}</a>
{% endblock %}
{% endblock %}

