{% set layout = "article" %}
{% extends 'UCLStudyBundle::base.html.twig' %}

{% block article_details %}
{% if user.hasDoneStep(_part, 'install', enabledSteps) and _part == 1 %}
{% set kudos_message %}{{ 'You have already activated the study application, but you can use the instructions below to reinstall it if necessary.' | trans }}{% endset %}
{% include ('UCLStudyBundle::kudos.html.twig') %}
{% endif %}
{% endblock %}

{% block article_body %}
{% endblock %}

{% block article_appendix %}
<hr />
<p>
{% if app_install_verification is defined %}
{{ 'You must install the application and log in from within the application to continue with the study. If you cannot progress through this step, or if you have already followed the instructions and the site has not updated, please contact us.' | trans }}
{% else %}
{{ 'You must install the application to continue with the study. If you cannot progress through this step, or if you have already followed the instructions and the site has not updated, please contact us.' | trans }}
{% endif %}
</p>
<br />
<a href="{{ url('ucl_study_contact') }}" title="{{ 'Contact the researchers behind this project' | trans }}" class="btn btn-lg btn-default">{{ 'Contact the Researchers' | trans }}</a>
{% endblock %}

