{% set using_form = "form" %}
{% extends 'UCLStudyBundle::base.html.twig' %}

{% block body %}
    <p class="lead">TODO BLA BLA!</p>
    <p>TODO Goat.</p>
    <hr />
    <h3>BLA BLA BLA</h3>
    {{ form_start(form) }}
    <fieldset>
    <div class="form-row">
      {% if err_file is defined %}
        <div class="form-group has-error">{{ form_row(form.file) }}<aside class="alert alert-warning">{{ err_file }}</aside></div>
      {% else %}
        {{ form_row(form.file) }}
      {% endif %}
    </div>
    </fieldset>
    {{ form_end(form) }}
		
    <hr />
    <h3>BLU BLU BLU?</h3>
    
    <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name&nbsp;&nbsp;<span class="fa fa-user fa-fw"></span></label><!--
      --><div class="col-sm-10 form-control-static">{{ site.author }}</div>
    </div>
    {% if site.author_phone is defined %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Phone&nbsp;&nbsp;<span class="fa fa-phone fa-fw"></span></label><!--
      --><div class="col-sm-10 form-control-static">{{ site.author_phone }}</div>
    </div>
    {% endif %}
  
    <div class="form-group">
      <label class="col-sm-2 control-label">Address&nbsp;&nbsp;<span class="fa fa-university fa-fw"></span></label><!--
      --><div class="col-sm-10 form-control-static">
          {% if site.author_office is defined %}{{ site.author_office }}<br />{% endif %}
          {% if site.author_address_1 is defined %}{{ site.author_address_1 }}<br />{% endif %}
          {% if site.author_address_2 is defined %}{{ site.author_address_2 }}<br />{% endif %}
          {% if site.author_address_3 is defined %}{{ site.author_address_3 }}{% endif %}
      </div>
    </div>
    </div>
    
    <hr />
    <h4>Bli bli bli?</h4>
    <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"></label><!--
      --><div class="col-sm-10 form-control-static"><a href="http://ethics.grad.ucl.ac.uk/contact.php" title="UCL REC Website" class="btn btn-default">Visit the UCL REC Website</a></div>
    </div>
    </div>

{% endblock %}
