{% extends 'UCLStudyBundle:StudyPart:weekly.html.twig' %}

{% block article_details %}
{{ parent() }}
  <p class="bs-callout bs-callout-success lead">{{ 'Share your experiences of security problems' | trans }}</p>
{% endblock %}

{% block article_body %}
<h3>1. Introduction</h3>
<p>Welcome back into the study! To get started, please make sure that you've <a href="{{ path('ucl_study_part_install', {'_part': '2'}) }}">updated the study software</a>. Remember to download a new study diary.</p>

<p>You can then have a quick glimpse at the <a href="{{ path('ucl_study_part_forum', {'_part': '2'}) }}">forum</a> we will use to discuss together. Why not post a quick introductory post for the other participants? Don't be shy! We're all working on the same goal and we're all nice people!</p>

<h3>2. Share your security stories</h3>
<p>It's now time to post your experiences of security. Remember the last two questions of the interview?</p>
<ol>
  <li>Remember a time when you realised that performing some activity implied a risk for you. What did you do in order to mitigate this risk?</li>
  <li>Remember a time when you wanted to do something and did not know how to do it securely? What did you do instead?</li>
</ol>

<p>The idea of sharing your stories with others is to help us identify common problems with the security of your apps and documents, and to identify more specialised needs. Once we have all shared one or two (or more!) stories, we will be able to discuss together to find similarities between our different situations and to identify solutions.</p>

<h3>3. Comment on each others' stories</h3>
<p>Once other participants' stories begin to appear, please take time to read them, and add any similar experience you've had. Especially, how did your own situation resemble or differ the story? What did you understand differently from the participant who posted their story? What solution would you use for their problem?</p>

<h3>4. Discuss what should happen for every story</h3>
<p>Once we are done enriching the security stories with our personal experiences, we can start discussing how the insecure situations should have been avoided. I want you to describe how you would have liked your system or your applications to behave. Be imaginative, even what you think should have happened seems impossible. What kind of checks should have been in place? What should the apps or system do to help you stay secure or avoid the danger at hand?</p>

<p>Our goal for this first week is to agree on <i>desirable behaviours</i>. We will then discuss how we want to use the sandbox's many features to get as close as possible to those behaviours you want. Ideally, we will already run down a few stories to this stage by the end of week 1, so that I can give you software to try for week 2. I would really appreciate if you could take a few moments daily to check each other's stories.</p>

<h3>5. In parallel, get to discover the sandbox's options</h3>
<p>Take some time to <a href="{{ path('ucl_study_part_manual', {'_part': '2'}) }}">read the manual</a> (in particular, read the part on protected files and the highlighted options), and to play with the sandbox. Remember that the <code>--helper</code> option must be passed for the Xfce additions to the sandbox to work. </p>

<p>You should also start using Thunar to protect the files that you consider sensitive, and also to make sure that you are familiar with the interface.</p>

<p>If you are confused by some of the jargon in the manual or don't understand how the sandbox is behaving, there is absolutely no shame in asking for help! I will be happy to clarify things for you, and you could also help each other out on the forum. Do get in touch if a problem arises.</p>

{% endblock %}
